.bar-next-to-servers{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    width: 223px;
    /* 17 */
    height: 100vh;
    background-color: rgb(47, 49, 54);
}

.dm{
    padding-top: 15px;
    color: rgb(150, 152, 157)
}

.butt-container{
    display: flex;
    flex-direction: column;
    width: 95%;
}

.friends{
    width: 100%;
}

.nitro{
    width: 100%;
}

.message_req{
    width: 100%;
}

.butt{
    width: 100%;
    background-color: transparent;
    border: none;
    padding-top: 5%;
    font-size: 16px;
    text-align: left;
    color: rgb(150, 152, 157);
}

.butt:hover{
    cursor: pointer;

}

.single-chat{
     display: flex;
     align-items: center;
     font-size: 16px;
     text-decoration: none;
     color: rgb(150, 152, 157);
}
.dm-img{
    width: 15%;
    padding-right: 4%;
}

.dm-container{
    display: flex;
}

.chat-container{
    display: flex;
    flex-direction: column;
    background-color: #36393f;
    width: 100%;
    justify-content: space-between;
}

.new-message{
    background-color: rgb(107, 107, 107);
    width: 90%
}

.sent-message{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.edit-box{
    width: 100%;
}

.text-here{
    width: 40%;
}
