.nav-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(64,78,237);
}


.nav-bar {
    display: flex;
    width: 65%;
    padding-left: 0;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-items a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.nav-bar-items {
    list-style: none;
}

.about-us:hover {
    text-decoration: underline;
}

.nav-bar-btn {
    list-style: none;
    text-decoration: none;
    color: black;
    border: 1px solid white;
    background-color: white;
    border-radius: 2rem;
    width: 54px;
    height: 24px;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-bar-btn:hover {
    color: rgb(64,78,237);
}

.login-signup-nav {
    display: flex;
    justify-content: space-between;
    width: 140px;
}

.nav-logo {
    height: 45px;
    width: 160px;
}

.nav-logo:hover {
    cursor: pointer;
}
