.profile-card-container{
    align-self: top;
    position: absolute;
    /* width: 350px; */
    width: 17%;
    /* padding: 10px; */
    bottom: 4em;
    left: 4em;
    height: 375px;
    background-color: #292B2F;
    border-radius: 10px;
    z-index: 1;
}

.profile-card-img{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90px;
    /* height: 30px; */
}

.profile-card-banner{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    background-color: rgb(70, 79, 182);
    height: 20%;
}


.profile-card-info{
    width: 100%;
    display: flex;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.profile-card-info-container{
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #18191C;
    width: 80%;
    height: 35%;
    border-radius: 10px;
    padding: 5%;
}

.profile-card-status{
    color: #C4C5C6;
    margin-bottom: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.profile-card-member-date{
    border-top: 1px solid #C4C5C6;
    /* border-bottom: 1px solid #C4C5C6; */
    width: 100%;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.profile-card-member-date2{
    color: #C4C5C6;
}

.profile-logout-button{
    background-color: rgb(88,101,242);
    color: rgb(173,175,178);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    border-style: none;
    padding: 10px 16px;
    border-radius: 5px;
}

.profile-logout-button:hover {
    cursor: pointer;
    background-color: rgb(71, 82, 207);
    color: white;
}

.profile-logout-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 16px;
}

.Server-profile-card-container{
    align-self: top;
    position: absolute;
    /* width: 350px; */
    width: 17%;
    /* padding: 10px; */
    bottom: 4em;
    left: 4em;
    height: 35%;
    background-color: #292B2F;
    border-radius: 10px;
}

.Server-profile-card-img{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90px;
    /* height: 30px; */
}

.Server-profile-card-banner{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    background-color: blue;
    height: 20%;
}


.Server-profile-card-info{
    width: 100%;
    display: flex;
    color: white;
}

.Server-profile-card-info-container{
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #18191C;
    width: 80%;
    height: 35%;
    border-radius: 10px;
    padding: 5%;
}

.Server-profile-card-status{
    color: #C4C5C6;
    margin-bottom: 10px;
}

.Server-profile-card-member-date{
    border-top: 1px solid #C4C5C6;
    /* border-bottom: 1px solid #C4C5C6; */
    width: 100%;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    color: white;
}

.Server-profile-card-member-date2{
    color: #C4C5C6;
}

.edit-prof-title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
}


.edit-channel-label {
    color: rgb(173,175,178);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.edit-channel-input {
    color: white;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 7px;
    padding: 7px;
}

.edit-submitButton {
    background-color: rgb(88,101,242);
    border-width: 0;
    color: rgb(173,175,178);
    border-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    padding: 2px 16px;
}

.edit-submitButton:hover {
    cursor: pointer;
    background-color: rgb(71, 82, 207);
    color: white;
}


.edit-profile-modal-container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.edit-profile-navbar{
    width: 35%;
    display: flex;
    justify-content: flex-end;
    background-color: #2B2D31;
}

.edit-profile-modal-nav-section{
    width: 200px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.edit-profile-nav-buttons{
    font-size: 16px;
    background-color: transparent;
    color: #989AA2;
    border-style: none;
    cursor: pointer;
    padding: 7px 0px 7px 10px;
    width: 94%;
}

.edit-profile-nav-buttons:hover{
    color: #F3F4EF;
    background-color: #313338;
}

.edit-profile-pages-container{
    margin-top: 50px;
    display: flex;
    width: 42%;
    margin-left: 2%;
}

.edit-profile-card-container{
    width: 100%;
    position: relative;
}

.edit-profile-card-banner{
    width: 100%;
    height: 85px;
    background-color: blue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.edit-profile-card-info-container{
    width: 100%;
    height: 300px;
    background-color: #1E1F22;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.edit-profile-card-img{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50px;
    left: 1%;
}

.edit-profile-options-container{
    margin: 0 auto;
    background-color: #2B2D31;
    width: 96%;
    height: 180px;
    padding: 15px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.edit-profile-modal-account-buttons{
    cursor: pointer;
}

.edit-profile-options-index{
    display: flex;
    width: 96%;
    justify-content: space-between;
    margin: 0 auto;
}

.edit-profile-card-info{
    margin-left: 16%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 82%;
    padding-top: 20px;
    margin-bottom: 30px;
    color: #FFFFFF;
}
.reveal-button{
    background-color: transparent;
    border-style: none;
}

.reveal-button:hover{
    text-decoration: underline;
    cursor: pointer;
}

.close-modal-button{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    color: #AFB0B6;
}

.edit-profile-page-actual-page{
    width: 80%;
    height: auto;
    overflow: scroll;
}

.my-account-component-container{
    display: flex;
    flex-direction: column;
}

.Edit-user-details-form{
    width: 70%;
    margin: 80px auto;
    border-style: solid;
    border-width: 0.5px;
    padding-top: 20px;
}
