.page-container{
    border: 1px none red;
    display: flex;
    width: 96vw;
    height: 100vh;
    padding-left: 4%;
    background-color: #36393F;
}

.nav-placeholder{
    width: 3.6%;
}

.channels-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px none green;
    padding-top: 48px;
    background-color: #2F3136;
    width: 13%;
    height: auto;
}

.messages-container{
    display: flex;
    flex-direction: column;
    border: 1px none blue;
    /* width: auto; */
    /* max-width: 87%; */
    width:90%;
    height: auto;
    padding-top: 48px;
    justify-content: space-between;
    background-color: #36393F;
    /* object-fit: cover; */
    min-width: 74%;
}
.messages-members-border{
    display: flex;
    width: 87%;
}

.search-form-container{
    display: flex;
    position: relative;
    align-items: center;
}

.members-container{
    display: flex;
    flex-direction: column;
    border: 1px none pink;
    width: 14%;
    height: auto;
    padding-top: 48px;
    background-color: #2F3136;
}

.channel-border{
    border: 1px none orange;
    display: flex;
    height: 34px;
    justify-content: space-between;
    background-color: #2F3136;
    color: #8D989D;
    cursor:pointer;
}

.channel-border-icon-name{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 8px;
}

.channel-border-icon-name:hover{
    background-color: #42464D;
}

.server-name-container{
    border: 1px none yellow;
    display: flex;
    position: absolute;
    /* justify-content: space-between; */
    /* padding: 0px 10px; */
    align-items: center;
    border-bottom: 1px solid #202020;;
    background-color: #36393F;
    /* padding-left: 2%; */
    height: 48px;
    width: 96vw;
}

.server-navbar{
    display: flex;
    width: 86%;
    gap: 5px;
    margin: 0px 0 0 13%;
    justify-content: space-between;
}

.navbar-channel-name-icon{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 15px;
    color: white;
}

.navbar-channel-name-icon .fa-solid{
    color: #8D989D;
}

.server-name-section{
    position: absolute;
    display: flex;
    width: 13%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
    background-color: #2F3136;
    /* padding: 0px 4px; */
    /* margin: 0px 2px; */

    /* margin: 0px 10px; */
    /* padding: 0px 5px; */
    /* border-radius: 5px; */
}

.server-name-icon{
    width: 100%;
    display: flex;
    padding: 8px;
    color: white;
    font-weight: bold;
    justify-content: space-between;
}

.server-name-section:hover{
    background-color: #42464D;
}

.member-index-container{
    display: flex;
    cursor:pointer;
    padding: 8px 16px;
    color: lightblue;
    gap: 7px;
}

.member-index-container:hover{
    background-color: #42464D;
}

.members-online-status{
    padding: 24px 0px 0px 16px;
    color: #8D989D;
}

.member-username-container{
    border: 1px none black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.member-status{
    font-size: 12px;
}

.profile-pic{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 100px;
}

.channel-img{
    height: 100%;
    width: auto;
}

.channel-label{
    display: flex;
    align-items: center;
    width: auto;
}

.channel-icon-border{
    display: flex;
    align-items: center;
}


.channel-edit-button{
    border: 1px none black;
    cursor:pointer;
    background-color: #2F3136;
    border-radius: 5px;
    color: #8D989D;
}

.search-input{
    padding: 1px;
    color: #A1A3A5;
    padding: 0px 10px;
}

.search-form{
    height: auto;
    width: 150px;
}

.search-label{
    padding: 0;

}

.channel-edit-button2{
    border: 1px none black;
    cursor:pointer;
    background-color: #292B2F;
    border-radius: 5px;
    color: #8D989D;
}

.channel-edit-button2:hover{
    background-color: #42464D;
}

.channel-droplist{
    list-style: none;
    padding: 0;
}

.search-form-cancel-button{
    background-color: #202225;
    border-style: none;
    border-radius: 10px;
    position: absolute;
    left: 83%;
    cursor:pointer;
}

.channel-droplist2{
    display: none;
}

.channel-button-container{
    border: 1px none black;
    cursor:pointer;
    display: flex;
    background-color: #2F3136;
    color: #8D989D;
    gap: 5px;
}

.channel-button-container:hover{
    font-weight: bold;
}

.channel-buttons{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 24px 0px 0px 0px;
}

.channel-buttons2{
    display: flex;
    justify-content: space-between;
    /* padding: 24px 0px 0px 0px; */
}

.create-channel-button{
    cursor:pointer;
    border: 1px none black;
    background-color: #2F3136;
    color: #8D989D;
}


.channels-profile-container{
    display: flex;
    /* position: absolute; */
    /* position: fixed; */
    width: 100%;
    /* gap: 10px; */
    /* padding: 0px 0px 0px 5px; */
    height: 52px;
    background-color: #292B2F;
}

.profile-container{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    cursor:pointer;
    border-radius: 5px;
}

.profile-container:hover{
    background-color: #42464D;
}

.profile-data-container{
    display: flex;
    flex-direction: column;
    color: white;
}


.member-cardname-container{
    align-self: top;
    position: absolute;
    right: 25px;
    width: 300px;
    /* width: 100%; */
    /* display: inline; */
    /* left: 5em; */
    height: 250px;
    background-color: #202225;
    align-content: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 60px 0px 0px 0px;
    border-radius: 5px;
    background-color: blue ;
    overflow: hidden;
}

.member-card-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.member-card-banner{
    display: flex;
}

.member-card-info-container{
    display: flex;
    height: 300px;
    justify-content: center;
    background-color: #292B2F;
    border-radius: 5px;
    align-items: flex-end;
}

/* .member-logout-container{

} */

.member-profile-card-img{
    width: 80px;
    height: auto;
    position: absolute;
    top: 40px;
}

.member-card-banner{
    width: 100%;
    background-color: blue ;
    /* height: ; */
}

.members-card-data-container{
    padding: 25px 20px 0px 20px;
    height: 50%;
    display: flex;
    flex-direction: column;
    width: 76%;
    background-color: #18191C;
    border-radius: 5px;
}
