.page-container{
    border: 1px solid red;
    display: flex;
    width: 100vw;
    height: auto;
}

.channels-container{
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    width: 10%;
    height: auto;
    padding: 5px;
}

.messages-container{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    width: 75%;
    height: auto;
}

.members-container{
    display: flex;
    flex-direction: column;
    border: 1px solid pink;
    width: auto;
    height: auto;
}

.channel-border{
    border: 1px solid orange;
    display: flex;
    height: 34px;
    justify-content: space-between;
}

.channel-img{
    height: 100%;
    width: auto;
}

.channel-label{
    display: flex;
    align-items: center;
    width: auto;
}

.channel-icon-border{
    display: flex;
    align-items: center;
}


.channel-edit-button{
    border: 1px none black;
    cursor:pointer;
}

.channel-droplist{
    display: block;
}

.channel-droplist2{
    display: none;
}
