.server-page-container {
    position: absolute;
    left: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #202225;
    width: 76.5px;
}


.left-side-servers {
    width: 65px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(32,34,37);
}

.server-title {
    width: 60px;
    color: white;
}

.dm-prof-link {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

.border-container {
    margin-left: 10px;
    margin-right: 15px;
}

.border-break {
    width: 42px;
    border: 1px solid rgb(73, 73, 73);
}

.serverList {
    padding-top: 10px;
    height: 100vh;
    overflow-y: scroll;
    scroll-padding: 0;
    margin-bottom: 50px;
}

::-webkit-scrollbar {
    display: none;
}

.server-img-container {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 5px;
}

.server-img-container:hover > .server-img {
    border-radius: 15px;
    cursor: pointer;
}

.server-img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 2rem;
    transition-duration: 0.3s;
}

.server-img-me {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 2rem;
    transition-duration: 0.3s;
}

.server-img-me:hover {
    border-radius: 15px;
    cursor: pointer;
}


.add-server-img {
    background-color: rgb(54,57,64);
    border-width: 0;
    display: flex;
    align-items: center;
}

.add-server-img-icon {
    height: 40px;
    width: 49px;
    border-radius: 100%;
}

.server-dropdown-container{
    align-self: top;
    position: absolute;
    width: 210px;
    top: 3.5em;
    left: 5.5em;
    background-color: #18191C;
    display: flex;
    flex-direction: column;
    padding: 6px;
    justify-content: space-between;
    border-radius: 10px;
}

.modal-button-text{
    display: flex;
    width: 100%;
}

.server-cardname-container{
    align-self: top;
    position: relative;
    left: 130px;
    width: 130px;
    height: 40px;
    margin-top: 3px;
    background-color: #202225;
    align-content: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 15px;
    border-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.server-index-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.server-popout-card{
    position: absolute;
}

.server-drop-button{
    padding: 6px;
    display: flex;
    border-style: none;
    border-radius: 2px;
    background-color: #18191C;
    color: rgb(173,175,178);
    cursor:pointer;
    width: 100%;
}

.server-drop-button:hover{
    background-color: rgb(88,101,242);
    color: white;
}

.dropdown-delete-button-container{
    display: flex;
    width: 100%;
}
