.server-page-container {
    position: absolute;
    left: 0;
    height: 100vh;
    display: flex;
    background-color: #212122;
    width: 4%;
}


.left-side-servers {
    width: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #212122
}

.server-title {
    width: 60px;
    color: white;
}

.dm-prof-link {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

.border-container {
    margin-left: 15px;
    margin-right: 15px;
}

.border-break {
    width: 37px;
    border: 1px solid rgb(73, 73, 73);
}

.serverList {
    padding-top: 10px;
}

.server-img-container {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.server-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100px;
}

.server-img:hover{
    cursor: pointer;
}

.server-dropdown-container{
    align-self: top;
    position: absolute;
    /* width: 350px; */
    width: 11%;
    top: 3.5em;
    left: 5.5em;
    height: 25%;
    background-color: #212122;
    display: flex;
    flex-direction: column;
    padding: 6px;
    justify-content: space-between;
}

.modal-button-text{
    display: flex;
    width: 100%;
}

.server-cardname-container{
    align-self: top;
    position: relative;
    /* width: 350px; */
    width: 100%;
    /* display: inline; */
    left: 5em;
    height: 10%;
    background-color: red;
}

.server-drop-button{
    padding: 6px;
    display: flex;
    border-style: none;
    border-radius: 2px;
    background-color: #212122;
    color: gray;
    cursor:pointer;
    width: 100%;
}

.server-drop-button:hover{
    background-color: blue;
}

.dropdown-delete-button-container{
    display: flex;
    width: 100%;
}
