.delete-server-modal {
    display: flex;
    height: 275px;
    width: 440px;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.delete-footer-background {
    background-color: rgb(242,243,245);
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10px;
}

.confirm-del-statement {
    margin-top: 5px;
}

.delete-server-btn {
    border-radius: 4px;
    border-width: 0;
    color: white;
    height: 40px;
    width: 100px;
    background-color: rgb(199, 197, 197);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    cursor: not-allowed;
    pointer-events: none;
}

.confirm-del-msg {
    color: red;
}

.del-server-message {
    display: flex;
    flex-direction: row;
}
